<div class="table-content">
  <div class="tools">
    <P class="title">YcY数据站-{{currentDate}}数据</P>
  </div>
  <p class="spinBox" *ngIf="loading">
    <nz-spin></nz-spin>
  </p>
  <div class="table-panel" *ngIf="!loading">
    <nz-tabset>
      <nz-tab nzTitle="总分">
        <p class="tips">*数据每天凌晨02:05更新，当前数据为{{currentDate}}数据</p>

        <nz-table #nzTable1 [nzData]="userList" [nzFrontPagination]="false" [nzShowPagination]="false" [nzScroll]="{ x:'450px',y: tablesService.tableHeight }"
          [nzBordered]="true">
          <thead>
            <tr>
              <th nzWidth="40px" nzLeft="0px">姓名</th>
              <th nzWidth="40px"> 总分</th>
              <th nzWidth="40px"> 互动</th>
              <th nzWidth="40px"> 阅读</th>
              <th nzWidth="40px"> 爱慕值</th>
              <th nzWidth="40px"> 影响力</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of userList">
              <td nzLeft="0px">{{user.name}}</td>
              <td>{{user.totalVal}}</td>
              <td>{{user.interactVal}}</td>
              <td>{{user.readVal}}</td>
              <td>{{user.loveVal}}</td>
              <td>{{user.socialVal}}</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="互动">
        <p class="tips">*数据每天凌晨02:05更新</p>
        <p class="tips tips2">*默认按照总分由高到低排序，点击上下箭头进行单项排序</p>
        <nz-table #nzTable1 [nzData]="display_interact" [nzFrontPagination]="false" [nzShowPagination]="false" [nzScroll]="{ x:'500px',y: tablesService.tableHeight }"
          [nzBordered]="true">
          <thead (nzSortChange)="sort($event, weibo_interact, display_interact)" nzSingleSort>
            <tr>
              <th nzWidth="30px" nzLeft="0px">姓名</th>
              <th nzWidth="40px" nzShowSort nzSortKey="interactVal"> 分数</th>
              <th nzWidth="40px" nzShowSort nzSortKey="interact_total"> 总互动</th>
              <th nzWidth="40px" nzShowSort nzSortKey="interact_comment"> 评论</th>
              <th nzWidth="40px" nzShowSort nzSortKey="interact_repost"> 转发</th>
              <th nzWidth="40px" nzShowSort nzSortKey="interact_story"> 故事</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of weibo_interact">
              <td nzLeft="0px">{{user.name}}</td>
              <td>{{user.interactVal}}</td>
              <td>{{user.interact_total}}</td>
              <td>{{user.interact_comment}}</td>
              <td>{{user.interact_repost}}</td>
              <td>{{user.interact_story}}</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="阅读">
        <p class="tips">*数据每天凌晨02:05更新</p>
        <p class="tips tips2">*默认按照总分由高到低排序，点击上下箭头进行单项排序</p>
        <nz-table #nzTable2 [nzData]="display_read" [nzFrontPagination]="false" [nzShowPagination]="false" [nzScroll]="{ x:'420px',y: tablesService.tableHeight }"
          [nzBordered]="true">
          <thead (nzSortChange)="sort($event, weibo_read, display_read)" nzSingleSort>
            <tr>
              <th nzWidth="30px" nzLeft="0px">姓名</th>
              <th nzWidth="40px" nzShowSort nzSortKey="readVal"> 阅读分数</th>
              <th nzWidth="40px" nzShowSort nzSortKey="read_total"> 阅读总数</th>
              <th nzWidth="40px" nzShowSort nzSortKey="read_blog"> 发博数</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of weibo_read">
              <td nzLeft="0px">{{user.name}}</td>
              <td>{{user.readVal}}</td>
              <td>{{user.read_total}}</td>
              <td>{{user.read_blog}}</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="爱慕值">
        <p class="tips">*数据每天凌晨02:05更新</p>
        <p class="tips tips2">*默认按照总分由高到低排序，点击上下箭头进行单项排序</p>
        <nz-table #nzTable3 [nzData]="display_love" [nzFrontPagination]="false" [nzShowPagination]="false" [nzScroll]="{ x:'600px',y: tablesService.tableHeight }"
          [nzBordered]="true">
          <thead (nzSortChange)="sort($event, weibo_love, display_love)" nzSingleSort>
            <tr>
              <th nzWidth="30px" nzLeft="0px">姓名</th>
              <th nzWidth="40px" nzShowSort nzSortKey="loveVal">分数</th>
              <th nzWidth="50px" nzShowSort nzSortKey="love_total">爱慕值</th>
              <th nzWidth="40px" nzShowSort nzSortKey="love_person">送花人数</th>
              <th nzWidth="40px" nzShowSort nzSortKey="love_times">送花数量</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of weibo_love">
              <td nzLeft="0px">{{user.name}}</td>
              <td>{{user.loveVal}}</td>
              <td>{{user.love_total}}</td>
              <td>{{user.love_person}}</td>
              <td>{{user.love_times}}</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="影响力">
        <p class="tips">*数据每天凌晨02:05更新</p>
        <p class="tips tips2">*默认按照总分由高到低排序，点击上下箭头进行单项排序</p>
        <nz-table #nzTable0 [nzData]="display_social" [nzFrontPagination]="false" [nzShowPagination]="false" [nzScroll]="{ x:'600px',y: tablesService.tableHeight }"
          [nzBordered]="true">
          <thead (nzSortChange)="sort($event, weibo_social, display_social)" nzSingleSort>
            <tr>
              <th nzWidth="30px" nzLeft="0px">姓名</th>
              <th nzWidth="40px" nzShowSort nzSortKey="socialVal">分数</th>
              <th nzWidth="40px" nzShowSort nzSortKey="social_total">总值</th>
              <th nzWidth="40px" nzShowSort nzSortKey="social_mention">提及阅读</th>
              <th nzWidth="40px" nzShowSort nzSortKey="social_search">搜索量</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of weibo_social">
              <td nzLeft="0px">{{user.name}}</td>
              <td>{{user.socialVal}}</td>
              <td>{{user.social_total}}</td>
              <td>{{user.social_mention}}</td>
              <td>{{user.social_search}}</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </div>
</div>