.row{
  padding: 20px;
}
.userSelect{
  width: 120px;
  margin: 10px 20px 0px 20px;
  position: absolute;
}
.chart-content{
  height: 100%;
  padding-top: 50px;
}
.scroll-panel{
  height: 100%;
  overflow: auto;
}