<ul nz-menu [nzMode]="'horizontal'" class="header">
  <li nz-menu-item [nzSelected]="tablesService.currentMenu == 1" (click)="routeToTable()"><i class="anticon anticon-mail"></i>数据</li>
  <li nz-menu-item [nzSelected]="tablesService.currentMenu == 2" (click)="routeToCharts()"><i class="anticon anticon-pie-chart"></i>图表</li>
  <li nz-menu-item [nzSelected]="tablesService.currentMenu == 3" (click)="routeToHot()"><i class="anticon anticon-rocket"></i>热搜</li>
</ul>
<div class="content">
  <div class="scroll-panel">
    <router-outlet></router-outlet>
  </div>
</div>
