

::ng-deep .content{
    .inner-content{
        padding: 10px 15px 15px 15px;
    }
    .spinBox{
        text-align: center;
        margin: 20px;
    }
    .ant-table-wrapper{
        border: 1px solid #1890ff;
    }
    .ant-table-bordered .ant-table-tbody>tr>td, .ant-table-bordered .ant-table-thead>tr>th{
        text-align: center;
    }
    .musicTable{
        tbody{
        tr:nth-child(even){
            color: #1890ff
        }
    }
    }
    
}