<div class="hot-list">
  <div class="select-box">
    <nz-select class="userSelect" style="width: 120px;" [(ngModel)]="currentUser" (ngModelChange)="changeUser()">
      <nz-option nzValue="{{user.userName}}" nzLabel="{{user.userName}}" *ngFor="let user of userList"></nz-option>
    </nz-select>
    <p class="total">*相关热搜共：{{tablesService.searchTotal}}条</p>
    <p class="total" style="top:30px">*实时热搜榜每10分钟更新</p>
  </div>
  <div class="result" (scroll)="scrollHandler($event)">
    <div class="row" *ngFor="let item of tablesService.searchData">
      <div class="keyWord">{{item.keywords}}</div>
      <div class="search">
        <span class="search_num">搜索量：{{item.searchNums}}</span>
        <span class="search_rank">最高排名：{{item.topRanking}}</span>
      </div>
      <div class="date">
        <span class="firstRankingTime">上榜时间：{{item.firstRankingTime}}</span>
        <span class="duration">持续时间：{{item.duration}}</span>
      </div>
    </div>
    <div class="loading">
      <nz-spin *ngIf="tablesService.searchLoading"></nz-spin>
    </div>
  </div>
</div>