<!-- <div class="title">
  <p></p>

  <div class="button" (click)="getData()">
    刷新数据
  </div>
</div> -->

    <span class="dsp">每30分钟涨幅</span>
    <span class="dsp"></span>
    <div class="table-panel">
      <div class="table-inner">
          <nz-table #nzTable2 [nzData]="dataSet" [nzFrontPagination]="false" [nzShowPagination]="false" [nzBordered]="true">
              <thead>
                <tr>
                  <th>名称</th>
                  <th *ngFor="let d of dates">{{d}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of nzTable2.data;let i =index" [ngClass]="{'blue-row':i==0}">
                  <td><div class="name">{{data.name}}</div></td>
                  <td *ngFor="let t of data.data">{{t}}</td>
                </tr>
              </tbody>
            </nz-table>
      </div>
      
    </div>
