.header{
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 999;
}
.content{
    padding-top: 48px;
    height: 100%;
    width: 100%;
    p{
        position: relative;
        top: -20px;
        text-align: center;
        background: #e8e8e8;
        /* color: #fff; */
        color: #999;
    }
}
.scroll-panel{
    height: 100%;
    overflow: auto;
}