.header{
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 999;
}
.content{
    padding-top: 48px;
    height: 100%;
    width: 100%;
}
.scroll-panel{
    height: 100%;
    overflow: hidden;
}