<div class="content">
  <div class="inner-content">
    <p class="page-title">刺激战场舞蹈命名pick</p>
    <p style="margin-bottom: 10px;text-align: center">
      <button nz-button nzType="primary" [nzSize]="'small'" (click)="refresh()">
        <i class="anticon anticon-reload"></i>刷新</button>
    </p>
    <nz-tabset [nzSize]="'small'">
      <nz-tab nzTitle="分时记录表">
        <p class="tips">*每五分钟获取一次</p>
        <p class="spinBox"  *ngIf="tableLoading">
          <nz-spin></nz-spin>
        </p>
        <!-- <p class="tips">*每小时记录一次，第一列为当前时刻数据</p> -->
        <div class="table" *ngIf="tableData[0] && tableData[0].votes && !tableLoading">
          <nz-table class="musicTable" [nzBordered]="true" #nzTable [nzFrontPagination]="false" [nzShowPagination]="false" [nzData]="tableData"
            [nzPageSize]="10" [nzScroll]="{ x:'1650px',y: tablesService.tableHeight}">
            <thead>
              <tr>
                <th nzWidth="65px" nzLeft="0px">姓名</th>
                <th nzWidth="80px" *ngFor="let num of tableData[0].votes">{{num.createdAt}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of tableData">
                <td nzLeft="0px">{{data.userName}}</td>
                <td *ngFor="let num of data.votes">{{num.num}}</td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </nz-tab>
      <nz-tab nzTitle="走势图">
        <p class="tips">*点击人名筛选，增长量曲线只显示当前数据前4位</p>
        <p class="spinBox"  *ngIf="chartLoading">
          <nz-spin></nz-spin>
        </p>
        <div *ngIf="!chartLoading" style="height: 300px;" echarts [options]="chartOptions" class="demo-chart"></div>

      </nz-tab>
    </nz-tabset>
  </div>

</div>